# Database configuration
DB_HOST=localhost
DB_PORT=5432
DB_USERNAME=challenge_user
DB_PASSWORD=challenge_pass
DB_DATABASE=fs_challenge

# Application configuration
PORT=3000
NODE_ENV=development

# Rate limiting
REDIS_URL=redis://localhost:6379